:root {
    --border-color: #067D68;
    --border-color-trans: #E3FF73;
    --background-color: black;
}

body {
    background-color: var(--background-color);
}
#over-container {
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    flex-wrap: wrap;
    gap: 1.5%;
    border-bottom: .4em solid var(--border-color);
    border-radius: 2.1em;
    /*background-color: white;*/
}
#over-container > * {
    /*border: 1px solid red;*/
    flex: 1 0 auto;
}
#div-start-button {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    border-bottom: .4em solid var(--border-color);
    margin-top: .8em;
    margin-bottom: .8em;
}
#start-game-button {
    color: white;
    font-size: 1.5em;
    background-color: var(--background-color);
    border: .2em solid var(--border-color);
    border-radius: .5em;
    /*text-shadow: -2px 0px black, 0px -2px black, 2px 0px black, 0px 2px black;*/
}
.div-score-container {
    flex-basis: auto;
    flex: 1 0 auto;
    text-align: center;
    text-align: middle;
    border-left: .5em solid var(--border-color);
    border-right: .5em solid var(--border-color);
    border-radius: 1em;
    /*background-color: #030c03;*/
    color: white;
}
#game-container {
    flex: 1 0 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    gap: 3%;
    /*border: .5em solid #009600;*/
    border-left: .5em solid var(--border-color);
    border-right: .5em solid var(--border-color);
    border-radius: 1em;
    /*background-color: #030c03;*/
}
#game-container img {
    flex: 0 1 7em;
    height: 7em;
}
#game-container > :nth-child(1) {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    margin-top: .4em;
    margin-bottom: 1em;
    border-bottom: .2em solid var(--border-color);
    border-radius: .5em;
    color: white;
    font-size: 1.5em;
}
#game-container > :nth-child(1) > * {
    width: 5em;
    text-align: center;
    border-top: .2em solid var(--border-color);
    border-radius: .5em;
}
#game-container > :nth-child(5) {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.5em;
    color: white;
    border-top: .2em solid var(--border-color);
    border-radius: .5em;
    font-size: 1.5em;
}
#game-container > :nth-child(5) > * {
    width: 8em;
    text-align: center;
    border-bottom: .2em solid var(--border-color);
    border-radius: .5em;
}
#computers-choice {
    margin: 2em;
    flex: 0 1 10em;
    height: 9em;
    border: .5em solid var(--border-color);
    border-radius: 1.5em;
    color: white;
}
.play_button {
    border: .5em solid var(--border-color);
    border-image: linear-gradient(120deg, var(--border-color), var(--border-color-trans));
    border-image-slice: 30;
}
.play_button:hover {
    border-image: linear-gradient(var(--border-color-trans), var(--border-color));
    border-image-slice: 10;
    scale: 1.05;
    transition: .15s;
}

